[submodule "third-party/librdkafka"]
	path = third-party/librdkafka
	url = https://github.com/confluentinc/librdkafka
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest
[submodule "third-party/nlohmann"]
	path = third-party/nlohmann
	url = https://github.com/nlohmann/json
[submodule "third-party/mosquitto"]
	path = third-party/mosquitto
	url = https://github.com/eclipse/mosquitto
[submodule "lib/libnatkit-core"]
	path = lib/libnatkit-core
	url = https://github.com/neuralbertatech/libnatkit-core
[submodule "third-party/libnatkit-core"]
	path = third-party/libnatkit-core
	url = https://github.com/neuralbertatech/libnatkit-core
[submodule "third-party/drogon"]
	path = third-party/drogon
	url = https://github.com/drogonframework/drogon.git
